/*Footer*/

footer {
    background-color: #353535;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    min-width: 320px;
    padding-bottom: 1rem;

    .footer__text {
        margin: 0 0 10px 20px;
        color: #e6e6e6;
        font-weight: normal;
    }

    a {
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        margin: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    a:hover {
        text-decoration: underline;
        color: #FFF;
    }

    .footer__logo {
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        font-size: 1.5em;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
    }
    .footer-logo-text {
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
      
    }
    .footer-icon{
        width: 1rem;
    }
}