
.container {

    min-width: 320px;

    @media screen and (min-width: 1800px) {
        max-width: 1800px;
        margin: auto;
    }

}


/*Loader*/

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #FFF;
    left: 0;
    top: 0;
    z-index: 10000;
    animation: loader 3s forwards;
}

/*Animation loader*/

@keyframes loader {
    0% {
        opacity: 0.9;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0;
        z-index: -10;
    }
}

.loader__circle {
    border: 10px solid #F3F3F3;
    border-top: 10px solid $colour-primary;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 3s linear forwards;

    /*Placement du loader au milieu de la page*/

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Animation du loader circle*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}


/*Onglet recherche de la ville*/

.proj-search {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    padding: 20px 0;
    font-weight: bold;
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;


    &__title {
        font-weight: bold;
        font-size: 1.5em;
        margin: 1rem;
  
    }

    &__sub-title {
        color: rgb(112, 112, 112);
        margin: 1rem;
    }

    &__explore {
       
        text-align: center;
        color: #FFF;
        font-weight: normal;
        font-size: 1em;
        font-family: "Roboto", sans-serif;
        margin: 1rem auto;
        margin-bottom: 4rem;
        background-image: linear-gradient($colour-secondary, $colour-primary);
        transition: background-color 250ms;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        padding: .75rem 1.5rem;
        border-radius: 30px;
        transition: 1.6s;

        &:hover {
            opacity: 0.8;
            box-shadow: 1rem 1rem 20px rgb(0 0 0 / 25%);
            transition: 1s;
        }
    }
}
.location-icon{
    margin-right: 1rem;
}
/*Fonctionnement*/

.function__title {
    width: 100%;
    margin-left: 1rem;
    margin-top: 3rem;
   
   
}

.function { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    font-weight: bold;
    font-size: 15px;


    h2 {
        margin-bottom: 1rem ;
    }

    &__order {
        width:100%;
        text-align: center;
        font-weight: bold;
        background-color: #F6F6F6;
        padding: 2rem;
        border-radius: 20px;
        position: relative;
        font-family: 'Roboto', sans-serif;
        transition: 1s;
        margin: 1rem ;
        margin-left: 1.5rem;
        margin-right: 1rem;
     
        @media screen and (min-width:820px) {
        width: 50%;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
     
        }


        &__number {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 34%;
            margin-left: -2.5rem;
            padding: 4px 4px;
            border-radius: 50%;
            background-color: $colour-primary;
            color: #FFF;
          
        }
        .function__icon{
            margin-right: 1rem;
           
        }
    }
}
.bg-color{
    background-color: #F7F1FF;
}

.restaurants {
    background-color: #f6f6f6;

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        @media screen and (min-width:820px) {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            grid-auto-rows: minmax(100px, auto);
        }
        @media screen and (min-width:1280px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            grid-auto-rows: minmax(100px, auto);
        }
     
    }

    &__title {
        margin-top: 2rem;
        margin-left: 1rem;
        padding-top: 3rem;
    }

    a{
        width: 100%;
        margin: 20px;
        @media screen and (min-width:820px) {
            margin: 0;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

    }

    &__card {
        border-radius: 20px;
        background-color: white;
        position: relative;
        width: 100%;
        margin: auto;
        @media screen and (min-width:820px) {
            width: 80%;
        }
        @media screen and (min-width:1280px) {
          width: 80%;
        }

        

        img {
            width: 100%;
            max-height: 175px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
        }

        .restaurants__card__content {
            padding: 20px 10px;
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-right: 1rem;

            h3 {
                margin-bottom: 6px;
            }

            .restaurants_card__content__name {
                position: relative;
                left: 0.5rem;
            }

            
        }

    }
    /*Heart*/
.icon {
    fill: transparent;
    stroke: black;
    stroke-width: 40;
    cursor: pointer;
    position: relative;

    svg {
      overflow: visible;
      width: 1.5rem;
    }
  
    path {
      stroke-dashoffset: 0;
      stroke-dasharray: 1550;
      transform-origin: center;
    }
  
    .heart-background {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      stroke: none;
    }
  
    .heart-main:hover path {
      animation: stroke-animation 0.2s ease-in-out forwards;
    }
  
    .heart-main:hover ~ .heart-background path {
      animation: fade-animation 0.2s ease-in-out forwards;
    }
  }
  
  @keyframes stroke-animation {
    0% {
      stroke: black;
      transform: scale(0);
    }
    10%{
        stroke: url(#Gradient1);
        fill: url(#Gradient1);
        opacity: 0.5;
        transform: scale(0.1);

    }
    50%{
        stroke: url(#Gradient1);
        fill: url(#Gradient1);
        opacity: 0.5;
        transform: scale(0.5);

    }
    100% {
      stroke: url(#Gradient1);
      fill: url(#Gradient1);
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-animation {
    0% {
      fill: transparent;
      transform: scale(0);
    }
    30% {
      fill: var(--pink-light);
      transform: scale(0.5);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
   
/*Button*/

    .btn-new {
        background-color: $colour-tertiary;
        color: #1b6150;
        padding: .5rem;
        border-radius: .125rem;
        position: absolute;
        top: 1rem;
        right: .75rem;
    }
}
