
.container-all {
    max-width: 2560px;

    @media screen and (min-width: 1800px) {
        max-width: 1800px;
        margin: auto;
    }

}


h1 {
    color: $colour-primary;
}

/*Loader*/

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #FFF;
    left: 0;
    top: 0;
    z-index: 10000;
    animation: loader 3s forwards;
}

/*Animation loader*/

@keyframes loader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -10;
    }
}

.loader__circle {
    border: 10px solid #F3F3F3;
    border-top: 10px solid $colour-primary;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 3s linear forwards;

    /*Placement du loader au milieu de la page*/

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/*Animation du loader circle*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}


/*Onglet recherche de la ville*/

.proj-search {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    padding: 20px 0;
    font-weight: bold;
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f6f6f6;
    padding: 40px 40px;
    margin-bottom: 50px;

    &__title {
        font-weight: bold;
        font-size: 25px;
    }

    &__sub-title {
        color: rgb(112, 112, 112);
    }

    &__explore {
       
        text-align: center;
        color: #FFF;
        font-weight: normal;
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        margin: 0 auto;
        background-image: linear-gradient($colour-secondary, $colour-primary);
        transition: background-color 250ms;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        padding: .75rem 1.5rem;
        border-radius: 30px;
        transition: 1.6s;

        &:hover {
            opacity: 0.8;
            box-shadow: 1rem 1rem 20px rgb(0 0 0 / 25%);
            transition: 1s;
        }
    }
}
/*Fonctionnement*/

.function__title {
    margin-left: 32px;
    margin-bottom: 20px;
}

.function { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
    font-weight: bold;
    font-size: 15px;

    h2 {
        margin-bottom: 30px ;
    }

    &__choice {
        width: 300px;
        max-height: 78px;
        margin-left: 20px;
        text-align: center;
        margin: 0 20px 20px 40px;
        font-weight: bold;
        background-color: #F6F6F6;
        padding: 30px 50px 30px 18px;
        border-radius: 20px;
        position: relative;
        font-family: 'Roboto', sans-serif;
        transition: 1s;
     
        

        &:hover {
            background-color: #f5edff;

            .fas {
                color: $colour-primary;
               
            }
        }

        &__number {
            width: 18px;
            height: 18px;
            position: absolute;
            top: 34%;
            left: -4%;
            padding: 4px 4px;
            border-radius: 50%;
            background-color: $colour-primary;
            color: #FFF;
          
        }
    }
}

.fas {
    margin-right: 20px;
    transition: 1.6s;
}

.restaurants {
    background-color: #f6f6f6;

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__title {
        margin-left: 32px;
    }

    a{
        width: 26em;
        margin: 20px;
    }

    &__card {
        border-radius: 20px;
        background-color: white;
      
        position: relative;
        width: 100%;
        @media screen and (min-width: 650px) {
            margin-right: 25px;
        }

        img {
            width: 100%;
            max-height: 175px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
        }

        .restaurants__card__content {
            padding: 20px 10px;
            position: relative;
            display: flex;

            h3 {
                margin-bottom: 6px;
            }

            .restaurants_card__content__name {
                position: relative;
                left: 1rem;
            }

            i{
                position: absolute;
                left: 22rem;
                top: 2rem;
                font-size: 1.5rem;
                transform: translateY(-50%);
                transition: ease-out all 0.4s;
            }
            .far{
                &:hover{
                   color: transparent;
                   
                }
            }
            .fas{
                color: transparent;
                
            }
            i:hover{
                transform: translateY(-50%) scale(1.2);
                background-image: $button-gradient;
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 1;
                
            }
        }

    }

    .btn-new {
        background-color: $colour-tertiary;
        color: #1b6150;
        padding: .5rem;
        border-radius: .125rem;
        position: absolute;
        top: 1rem;
        right: .75rem;
    }
}
