//codepen coeur:https://codepen.io/angeladelise/pen/eYJMQzv

/*Bannière*/

.photo__restaurant {
    img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        object-position: center;
    }
}
/*heart*/
.icon {
    fill: transparent;
    stroke: black;
    stroke-width: 40;
    cursor: pointer;
    position: relative;

    svg {
      overflow: visible;
      width: 1.5rem;
    }
  
    path {
      stroke-dashoffset: 0;
      stroke-dasharray: 1550;
      transform-origin: center;
    }
  
    .heart-background {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      stroke: none;
    }
  
    .heart-main:hover path {
      animation: stroke-animation 0.2s ease-in-out forwards;
    }
  
    .heart-main:hover ~ .heart-background path {
      animation: fade-animation 0.2s ease-in-out forwards;
    }
  }
  
  @keyframes stroke-animation {
    0% {
      stroke: black;
      transform: scale(0);
    }
    10%{
        stroke: url(#Gradient2);
        fill: url(#Gradient2);
        opacity: 0.5;
        transform: scale(0.1);

    }
    50%{
        stroke: url(#Gradient2);
        fill: url(#Gradient2);
        opacity: 0.5;
        transform: scale(0.5);

    }
    100% {
      stroke: url(#Gradient2);
      fill: url(#Gradient2);
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-animation {
    0% {
      fill: transparent;
      transform: scale(0);
    }
    30% {
      fill: var(--pink-light);
      transform: scale(0.5);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
   

/*Carte restaurant*/
.card__title__icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card__title {
    font-family: 'Shrikhand', cursive;
}

.fa-heart:before {
    margin-left: 5px;
}

.card__global {
  
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.card {
    background-color: #F6F6F6;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    z-index: 1;
    padding: 1rem;

    .far {
        align-self: flex-end;
    }

    h2 {
        margin-bottom: 2rem;
    }
}

.entrees {
    margin-bottom: 1rem;

    h2::after {
        content: '';
        display: block;
        width: 3rem;
        height: 4px;
        background: $colour-tertiary;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card__global__entrees {
    animation: fadein 2s;

    @media screen and (min-width: 1140px) {
        margin-right:1rem;
    }
}

.card__global__plats {
    animation: fadein 4s;

    @media screen and (min-width: 1142px) {
        margin-right: 1rem;
    }
}

.card__global__desserts {
    animation: fadein 6s;
}

.card__global__entrees,
.card__global__plats,
.card__global__desserts {
    h2 {
        font-weight: normal;
        font-size: 20px;
    }
}

.card__global__contenu {
    background-color: #FFF;
    max-width: 25rem;
    height: 70px;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    padding-left: 16px;
    border-radius: .75rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: flex;
    overflow: hidden;
    

    &__dish {
        width: 25rem;
        padding: 14px 0;
        border-radius: .75rem;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        

        h3 {
            font-size: 16px;
        }

        h4 {
            font-size: 16px;
        }
        
    }

    &:hover {
        .card__global__contenu__dish__confirmation {
            margin-right: 0px;
            min-width: 4rem;
       
        }

        .header_menu {
            white-space: nowrap;
            text-overflow: ellipsis;

            h3 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            h4 {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

          

        }

        .circle {
            transition-delay: 250ms;
            transform: rotate(360deg);
        }

    }


}



.card__global__contenu__dish__confirmation {
    background-color: #99E2D0;
    min-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -64px;
    transition: 0.6s ease-in-out;

}

.circle {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100px;
    background: #FFF;
    color: $colour-tertiary;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    transition: transform 0.5s;

    .fas {
        margin-left: 4px;
    }
}

.center {
    text-align: center;
}

.card__price {
    width: 30px;
    display: flex;
    align-self: flex-end;
    font-weight: bold;
    margin-right: 20px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
   
}

.header_menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    h4 {
        font-weight: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

/*Bouton Commander*/

.bouton__commander {
    padding: 30px 0 80px 0;
    text-align: center;
    background-color: #F6F6F6;

    &--inside {
        background-color: $colour-primary;
        padding: 16px 50px;
        border-radius: 30px;
        text-align: center;
        font-family: "Roboto", sans-serif;
        color: #FFF;
        font-weight: normal;
        font-size: 18px;
        margin: 0 auto;
        background-image: linear-gradient($colour-secondary, $colour-primary);
        transition: background-color 250ms;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);

        &:hover {
            opacity: 0.8;
            box-shadow: 1rem 1rem 20px rgb(0 0 0 / 25%);
        }
    }
}